@{
    ViewData["Title"] = "About Me";
}

<h1>About</h1>
<h2>Videographer, editor, cinematographer</h2>
<p>
    As a kid, I developed a strong passion for stories. I first picked up an old camcorder when I was just a fifth grader and then created my first video using action figures. Sure, the video itself turned out horribly being the first video I’ve ever made, but something about recording and then editing the footage sparked an interest in film. The possibilities became limitless.

    But I never knew I could turn it into something I could do professionally.

    Then my drive to succeed got bigger and better. In my high school years, I would create several short films, which won art contests that proceeded to the state-level. In 2014, I was accepted to the University of Southern California School of Cinematic Arts to study film for a summer. It was there that my passion for film solidified. After returning to Seattle, I created one short film called “El Doggo,” which was screened at the world-renowned National Film Festival for Talented Youth in 2015. It then won “Best Emerging Northwest Filmmaker.”

    I attended Washington State University and involved myself in student-run film/TV organizations such as Cable 8 Productions and the Wazzu Film Club, where I became Vice President. This allowed me to be consistently exposed to creative outlets where I can keep learning my craft and meet others who followed the same passion.

    After graduating in 2019, I began building my portfolio and providing videography assistance wherever needed. This gave me the opportunity to establish myself in the industry as a professional, working with clients to create promos, documentaries, real estate videos, feature movies, wedding films and organic social media content.

    On the side, I combined my love for film with travelling and began visiting places such as The Philippines, Utah, the mountains in the Pacific Northwest, and Hawaii.

    Now, I create cinematic travel content for my YouTube channel, which grew past 16k subscribers so far, and I own Barry J. Briggs Films LLC where I work with clients to help bring their visions for success to life through video. Such clients include Dr. Berg Nutritionals (aka The Knowledge Doc), Muckleshoot Casino Resort, KIRO 7 News, several real estate agencies and more. Several projects gained over 1.5 million+ views in less than one month.
</p>
