@model BarryJBriggs.Models.AboutPage
@{
    ViewData["Title"] = "About Me";
}
<div id="header">
    <h1>About</h1>
</div>
<div class="fade-up">
    <div class="aboutMe fade-up">
    <img src="~/media/barry_aboutMe.jpg" alt="Me" class="aboutMeImg" />
    <div class="aboutMeParagraph">
  @if (Model is null || string.IsNullOrWhiteSpace(Model.Html)) {
    <p>Nothing here yet.</p>
  } else {
    @Html.Raw(Model.Html)  
  }
      </div>
    </div>
</div>

