@{
    ViewData["Title"] = "Contact Me";
}
@model Message


<div id="header">
   <h1>Contact</h1>
</div>
<div class="text-center, contactIntro fade-up">
    <p>
        If you have inquiries, please enter your name, email and if you have a website or a link you could provide, definitely leave it below. 
        Then in just a couple short sentences describe the project you are looking to create. This would help me get a sense of what you are looking 
        for so I can better understand how I can help you.
    </p>
</div>

<div class="contactMePage">
    <div class="getInTouch fade-up">
       <h2>
           <a class="nav-link text-dark" style="font-size: inherit" asp-area="" asp-controller="Login" asp-action="Index">
               Get in Touch
           </a>
       </h2>
        <p>
            <a href="mailto:barryjbriggs@gmail.com">barryjbriggs@gmail.com</a><br />
            <a href="tel:+1-206-909-2507">(206) 909-2507</a><br />
            YouTube: <a href="https://www.youtube.com/channel/UCc3N2MUPKDqbIySxF64jwYg" target="_blank">Barry J. Briggs</a><br />
            Instagram: <a href="https://www.instagram.com/barryjbriggs/" target="_blank">barryjbriggs</a><br />
        </p>
    </div>


    <div class="sendMessage fade-up">
        <h3>Send me a Message!</h3>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
            @TempData.Remove("Message");
            
        }
        <form asp-controller="Message" asp-action="SendMessage" method="post" id="contact-form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" minlength="3" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Website"></label>
                <input asp-for="Website" class="form-control" type="url" />
            </div>

            <div class="form-group">
                <label asp-for="MessageText"></label>
                <textarea asp-for="MessageText" class="form-control" minlength="10" required></textarea>
                <span asp-validation-for="MessageText" class="text-danger"></span>
            </div>

            <div class="g-recaptcha" data-sitekey="6LcJwdUqAAAAAHdrzwDWjFAXynl4RtNBQE-Day41"></div>
            <input type="hidden" name="gRecaptchaResponse" id="gRecaptchaResponse">


            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>

</div>




<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
<script>
    document.getElementById('contact-form').addEventListener('submit', function (e) {
        document.getElementById('Name').value = DOMPurify.sanitize(document.getElementById('Name').value);
        document.getElementById('Email').value = DOMPurify.sanitize(document.getElementById('Email').value);
        document.getElementById('Website').value = DOMPurify.sanitize(document.getElementById('Website').value);
        document.getElementById('MessageText').value = DOMPurify.sanitize(document.getElementById('MessageText').value);

        let recaptchaResponse = document.getElementById('g-recaptcha-response').value;
        if (!recaptchaResponse) {
            e.preventDefault();
            alert("Please complete the reCAPTCHA before submitting.");
        } else {
            document.getElementById('gRecaptchaResponse').value = recaptchaResponse;
        }
    });
</script>
