@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="videoAndIntro">
        <div class="intro">
            <h1 class="display-4">
                Barry J. Briggs
            </h1>
            <p>YouTuber || Videographer || Video Content Strategist</p>
            <img src="~/media/barry_cropped.jpg" alt="A picture of me" />
        </div>
        <video autoplay muted loop class="highlight_reel">
            <source src="~/media/castle_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <h2>
        My specialties
    </h2>
    <img src="~/media/wedding.jpg" alt="Weddings" class="specialties"/>
    <img src="~/media/rollsRoyce.jpg" alt="Brand Promos" class="specialties" />
    <img src="~/media/realEstateVideo.jpg" alt="Real Estate" class="specialties" />
    <img src="~/media/travel_pic.jpg" alt="Travel" class="specialties" />
    <img src="~/media/social_media.jpg" alt="Social Media Content" class="specialties" />
    <h3>A few Companies I have Worked With</h3>
    <img src="~/media/kiro-7-logo.jpg" alt="Kiro 7" class="companies" />
    <img src="~/media/dr_berg.jpg" alt="Dr Berg" class="companies" />
    <img src="~/media/nordstrom.jpg" alt="Nordstrom" class="companies" />
    <img src="~/media/rexmont.jpg" alt="Rexmont Real Estate" class="companies" />
    <img src="~/media/muckleshoot.jpg" alt="Muckleshhot Casino" class="companies" />
    <img src="~/media/earthy.jpg" alt="Earthy" class="companies" />
    <img src="~/media/project.jpg" alt="Project" class="companies" />
    <img src="~/media/heaton-dainard-real-estate-default-logo.jpg" alt="Heaton Dainard Real Estate" class="companies" />
    <p>“Barry is not only an extremely talented and hardworking individual, but he is such a kind-hearted and fun person to work with… 
        Barry exceeded our expectations, providing us with a professional and enjoyable experience. For these reasons and more, we are 
        so happy that we chose Barry J. Briggs films and highly recommend him to anyone who is looking 
        for an amazing videographer.” – Kianna Romo
    </p>

</div>




<div class="imageAndAwards">
    <img src="~/media/barry_camera_cropped.jpg" alt="Sony FX3" class="barryCam" />
    <div class="listOfAwards">
        <h2>Awards</h2>
        <ul>
            <li>
                “Best Emerging Northwest Filmmaker” – National Film Festival for Talented Youth (2015)
            </li>
            <li>
                “Award of Merit” – PSA Reflections Film Category (2013)
            </li>
            <li>
                “Award of Excellence” – PSA Reflections Film Category (2011)
            </li>
        </ul>
        <h2>Gear</h2>
        <ul>
            <li>
                Sony FX3
            </li>
            <ul>
                <li>
                    Sigma 24-70mm
                </li>
            </ul>
            <li>
                DJI RS3
            </li>
            <li>
                DJI Air 2S (FAA Part 107 Certified)
            </li>
        </ul>
    </div>
</div>