@model IEnumerable<BarryJBriggs.Models.Section>

@{
    ViewData["Title"] = "Works";
}
<div id="header">
    <h1>Works</h1>
</div>
<img src="~/media/portfolio_pic_cropped.jpg" class="portfolio fade-up" />

@foreach (var s in Model)
{
    <h3 class="worksSection fade-up" id="@s.Slug"><b>@s.Name</b></h3>
    <div class="projects">
        @foreach (var i in s.Items.OrderBy(x => x.CreatedUtc))
        {
            <figure class="fade-up">
                <a href="https://youtu.be/@i.YoutubeId" target="_blank" rel="noopener">
                    <img src="@i.ImageUrl" alt="" class="floatingImage" />
                    <figcaption class="worksCaption">@i.Caption</figcaption>
                </a>
            </figure>
        }
    </div>
}