
@{
    ViewData["Title"] = "Works";
}
<div id="header">
    <h1>Works</h1>
<</div>
<img src="~/media/portfolio_pic_cropped.jpg" class="portfolio"/>
<div class="projects">
    <a href="https://www.youtube.com/watch?v=ulqUkliCUWs" target="_blank">
        <figure>
            <img src="~/media/the_philippines.jpg" alt="Why I Traveled To The Philippines This Year | A Cinematic Travel Film" />
            <figcaption>“Why I Traveled To The Philippines This Year | A Cinematic Travel Film” (2023)</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=u32InR_dXnM" target="_blank">
        <figure>
            <img src="~/media/returning.jpg" alt="" />
            <figcaption>“Why I Came Back To The Philippines This Year | PART ONE | Siargao & Balabac” (2024)</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=oPT-5k9IKC4" target="_blank">
        <figure>
            <img src="~/media/filmmaker_showreel.jpg" alt="" />
            <figcaption>
                My latest demo reel
            </figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=VyRUa282dSA" target="_blank">
        <figure>
            <img src="~/media/house.jpg" alt="" />
            <figcaption>ProjectRE | Real Estate</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=Ua3Qw0vE0rg" target="_blank">
        <figure>
            <img src="~/media/big_house.jpg" alt="" />
            <figcaption>Heaton Dainard Real Estate | ProjectRE</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=ElrAZmdN9AI" target="_blank">
        <figure>
            <img src="~/media/pnw.jpg" alt="" />
            <figcaption>TRAVEL TO THE PACIFIC NORTHWEST 4K | A Cinematic Travel Film</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=anTnLbXdy2I" target="_blank">
        <figure>
            <img src="~/media/wedding.jpg" alt="" />
            <figcaption>Kianna + Jesus Romo | Aug. 5th 2023″ A Cinematic Wedding Film</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=ifZeKYNTxys" target="_blank">
        <figure>
            <img src="~/media/mercedes.jpg" alt="" />
            <figcaption>Mercedes Benz | Zafar Khalilov</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=zm-xtcIQQCc" target="_blank">
        <figure>
            <img src="~/media/425_motorsports.jpg" alt="" />
            <figcaption>425 Motorsports</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=1-KCVkAxpZA" target="_blank">
        <figure>
            <img src="~/media/resort.jpg" alt="" />
            <figcaption>Cauayan Island Resort</figcaption>
        </figure>
    </a>
    <a href="https://www.youtube.com/watch?v=5zamntoxGqM" target="_blank">
        <figure>
            <img src="~/media/the_woman.jpg" alt="" />
            <figcaption>“The Woman” (2022) dir. Rose Kreider. I was Cinematographer and Editor of this Feature Film.</figcaption>
        </figure>
    </a>
</div>