<form method="post">
    @Html.AntiForgeryToken()
    <label>Name</label><input name="name" required />
    <label>Sort order</label><input name="sortOrder" type="number" value="0" />
    <button type="submit">Add Section</button>
</form>